@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}

#loadingScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #2117b0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  background-image: url(/noise.4ceed601.png);
}
#loadingScreen.active {
  opacity: 1;
  pointer-events: all;
}
#loadingScreen h1 {
  font-size: 8vw;
  text-transform: uppercase;
  font-style: italic;
  margin: 10px;
}
@media (max-width: 400px) {
  #loadingScreen h1 {
    font-size: 220%;
  }
}
#loadingScreen h1 .outline {
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
#loadingScreen #continue {
  opacity: 0;
  transition: opacity 0.5s ease;
  border: 1px solid white;
  margin: 20px auto;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
#loadingScreen #continue.active {
  opacity: 1;
}
#loadingScreen #continue:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#loadingScreen #continue:active {
  background-color: rgba(255, 255, 255, 0.5);
}
#loadingScreen #loadingIcon {
  animation: rotation 2s infinite ease-in-out;
  width: 150px;
  height: 0px;
  margin: 10px;
  transition: height 0.5s ease 0.5s, opacity 0.5s ease;
  opacity: 0;
}
#loadingScreen #loadingIcon.active {
  height: 150px;
  opacity: 1;
}

.centre-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.centre-vertical {
  display: flex;
  justify-content: center;
}

#planeButtons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  border: solid 1px black;
  border-radius: 40px;
  margin: 40px 0;
  padding: 0 10px;
}
#planeButtons .planeButton {
  margin: 10px;
  width: 50px;
  height: 50px;
  user-select: none;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: filter 500ms ease-in-out;
}
@media (max-width: 400px) {
  #planeButtons .planeButton {
    margin: 6px;
    width: 40px;
    height: 40px;
  }
}
#planeButtons .day {
  filter: hue-rotate(0deg);
}
#planeButtons .sunset {
  filter: hue-rotate(-45deg);
}
#planeButtons .night {
  filter: hue-rotate(180deg);
}
#planeButtons .off {
  filter: brightness(0%);
}
#planeButtons #time {
  background-image: url("/airplanebuttons.8102c036.png");
}
#planeButtons #time:hover {
  transform: scale(108%);
}
#planeButtons #attendent {
  background-image: url("/attendent_on.275e89fc.png");
}
#planeButtons #attendent:hover {
  transform: scale(108%);
}
#planeButtons #overheadLight {
  background-image: url("/indoorlight_on.28ad7d73.png");
}
#planeButtons #overheadLight:hover {
  transform: scale(108%);
}
#planeButtons #noSmoking {
  background-image: url("/nosmoking.57f78c75.png");
  width: 100px;
  cursor: default;
}
#planeButtons #seatBelt {
  background-image: url("/seatBelt_on.6d5a8d30.png");
  cursor: default;
}

/*# sourceMappingURL=/app.c328ef1a.css.map */