$phone-width: 400px;
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}

#loadingScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #2117b0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  background-image: url(img/noise.png);
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  h1 {
    @media (max-width: $phone-width) {
      font-size: 220%;
    }
    font-size: 8vw;
    text-transform: uppercase;
    font-style: italic;
    .outline {
      -webkit-text-stroke: 2px white;
      -webkit-text-fill-color: transparent;
    }
    margin: 10px;
  }

  #continue {
    opacity: 0;
    transition: opacity 0.5s ease;
    &.active {
      opacity: 1;
    }
    border: 1px solid white;
    margin: 20px auto;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  #loadingIcon {
    animation: rotation 2s infinite ease-in-out;
    width: 150px;
    height: 0px;
    margin: 10px;
    transition: height 0.5s ease 0.5s, opacity 0.5s ease;
    opacity: 0;
    &.active {
      height: 150px;
      opacity: 1;
    }
  }
}

.centre-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.centre-vertical {
  display: flex;
  justify-content: center;
}

#planeButtons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  border: solid 1px black;
  border-radius: 40px;
  margin: 40px 0;
  padding: 0 10px;
  .planeButton {
    @media (max-width: $phone-width) {
      margin: 6px;
      width: 40px;
      height: 40px;
    }
    margin: 10px;
    width: 50px;
    height: 50px;
    user-select: none;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter 500ms ease-in-out;
  }
  .day {
    filter: hue-rotate(0deg);
  }
  .sunset {
    filter: hue-rotate(-45deg);
  }
  .night {
    filter: hue-rotate(180deg);
  }
  .off {
    filter: brightness(0%);
  }
  #time {
    background-image: url("img/airplanebuttons.png");
    &:hover {
      transform: scale(108%);
    }
  }
  #attendent {
    background-image: url("img/attendent_on.png");
    &:hover {
      transform: scale(108%);
    }
  }
  #overheadLight {
    background-image: url("img/indoorlight_on.png");
    &:hover {
      transform: scale(108%);
    }
  }
  #noSmoking {
    background-image: url("img/nosmoking.png");
    width: 100px;
    cursor: default;
  }
  #seatBelt {
    background-image: url("img/seatBelt_on.png");
    cursor: default;
  }
}
